<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-valeur-modalite-heading">Create or edit a Valeur Modalite</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_valeur">Valeur</label>
                    <input type="text" class="form-control" name="valeur" id="field_valeur"
                           formControlName="valeur"/>
                    <div *ngIf="editForm.get('valeur').invalid && (editForm.get('valeur').dirty || editForm.get('valeur').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valeur').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_exercice">Exercice</label>
                    <select class="form-control" id="field_exercice" name="exercice" formControlName="exerciceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="exerciceOption.id" *ngFor="let exerciceOption of exercices; trackBy: trackExerciceById">{{exerciceOption.annee}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commune">Commune</label>
                    <select class="form-control" id="field_commune" name="commune" formControlName="communeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="communeOption.id" *ngFor="let communeOption of communes; trackBy: trackCommuneById">{{communeOption.libelle}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modalite">Modalite</label>
                    <select class="form-control" id="field_modalite" name="modalite" formControlName="modaliteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modaliteOption.id" *ngFor="let modaliteOption of modalites; trackBy: trackModaliteById">{{modaliteOption.libelle}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
