<footer class="footer clearfix font-weight-bold border-top mt-2" style="font-size: 15px;">
    <div class="container-fluid d-flex" style="min-height:30px; background: linear-gradient(red 50%, green 50%) no-repeat center;">
        <div class="text-left pt-1" style="width: 47%"></div>
        <div class="text-center" style="width: 6%"><i class="fa fa-star fa-2x" style="color: yellow;"></i></div>
        <div class="text-right pt-1" style="width: 47%"></div>
    </div>
    <div class="bg-white pb-2 logo-div">
        <div class="container-fluid d-flex">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm">
                        <img class="supr_img" src="/content/images/supermun.PNG"
                             [style]="{'width':'100%'}">
                    </div>
                    <div class="col-sm">
                        <img class="pact_img" src="/content/images/pact.PNG" [style]="{'width':'100%'}">
                    </div>
                    <div class="col-sm">
                        <img class="banque_img" src="/content/images/bm.jpg" [style]="{'width':'100%'}">
                    </div>
                    <div class="col-sm">
                        <img class="anptic_img mt-1" src="/content/images/anptic.jpg" [style]="{'width':'100%'}">
                    </div>
                    <div class="col-sm">
                        <img class="anptic_img" src="/content/images/eburkina.jpeg" [style]="{'width':'100%', 'height':'60px'}">
                    </div>
                </div>
            </div>
        </div>
        <!--<hr>
        <div class="text-center">
            <span>03 BP 7034 Ouaga 03 Tel : (226) 25 32 48 98 E-mail : info@pact.bf</span>
        </div>-->
    </div>
    <div class="bg-dark pb-1">
        <div class="container-fluid d-flex">
            <div class="text-left pt-1 leftElment">
                <span class="fa fa-copyright font-weight-bold text-white">Copyright</span>
                <a href="https://www.anptic.gov.bf/" target="_blank"> SUPERMUN {{annee}}</a>
            </div>
            <div class="text-center text-white midleElement">
                <span>03 BP 7034 Ouaga 03 Tel : (+226) 25 32 48 98 E-mail : info@pact.bf</span>
            </div>
            <div class="text-right font-weight-bold rightElment pt-1">
            <span>
                <span class="text-white">Powered by</span>
                <a href="http://www.afriklonnya.com" target="_blank">
                    <span>AFRIK LONNYA</span><br>
                </a>
            </span>
            </div>
        </div>
    </div>
</footer>
