hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 2px solid #47af4bbd;
}

.title {
  font-size: 1.7em;
  font-weight: 600;
  color: #4c8a65;
}

.description {
  font-size: medium;
  font-weight: 400;
}

.regle {
  font-size: 14px;
}
