<div>
    <div class="container mt-2">
        <p-fieldset>
            <p-header>
                <span class="text-primary font-weight-bold">Réinitialiser votre mot de passe</span>
            </p-header>

            <div class="alert alert-danger font-weight-bold" *ngIf="keyMissing">
                <strong>La clé de réinitialisation est absente.</strong>
            </div>

            <div class="alert alert-warning font-weight-bold" *ngIf="!success && !keyMissing">
                <p>choisir un nouveau mot de passe</p>
            </div>

            <div class="alert alert-danger font-weight-bold" *ngIf="error">
                <p>Votre mot de passe ne peut pas être réinitialisé. Le lien de réinitialisation n'est valid que pour 24h.</p>
            </div>

            <p class="alert alert-success font-weight-bold" *ngIf="success">
                <span><strong>Votre mot de passe a été réinitialisé.</strong> SVP </span>
                <a class="alert-link" (click)="login()">connectez-vous</a>.
            </p>

            <div class="alert alert-danger font-weight-bold" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()"
                      [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label font-weight-bold" for="password">Nouveau mot de passe</label>
                        <input type="password" class="form-control font-weight-bold" id="password" name="password"
                               placeholder="Nouveau mot de passe"
                               formControlName="newPassword">
                        <div
                            *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger font-weight-bold"
                                   *ngIf="passwordForm.get('newPassword').errors.required">
                                Votre mot de passe est requis.
                            </small>
                            <small class="form-text text-danger font-weight-bold"
                                   *ngIf="passwordForm.get('newPassword').errors.minlength">
                                Votre mot de passe doit avoir une taille d'au moins 4 caractères>.
                            </small>
                            <small class="form-text text-danger font-weight-bold"
                                   *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                Votre mot de passe ne doit pas avoir une taille supérieure à 50.
                            </small>
                        </div>
                        <jhi-password-strength-bar
                            [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label font-weight-bold" for="confirmPassword">Nouveau mot de passe de confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Nouveau mot de passe de confirmation"
                               formControlName="confirmPassword">
                        <div
                            *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger font-weight-bold"
                                   *ngIf="passwordForm.get('confirmPassword').errors.required">
                                Le mot de passe de confirmation est requis.
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                Le mot de passe de confirmation doit avoir au moins une taille de 4 caractères.
                            </small>
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                                Le mot de passe de confirmation ne doit pas avoir une taille supérieure à 50.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary font-weight-bold">Réinitialiser le mot de passe
                    </button>
                </form>
            </div>
        </p-fieldset>
    </div>
</div>
