<div>
    <div class="container mt-2" *ngIf="account$ | async as account">
        <p-fieldset>
            <p-header>
                <span class="text-primary font-weight-bold">Modifier du mot de passe pour [<strong>{{account.login}}</strong>]</span>
            </p-header>

            <div class="alert alert-success font-weight-bold" *ngIf="success">
                <strong>Le mot de passe a été modifié !</strong>
            </div>
            <div class="alert alert-danger font-weight-bold" *ngIf="error">
                <strong>Une erreur a survenue!</strong> Le mot de passe ne peut pass être changé.
            </div>

            <div class="alert alert-danger font-weight-bold" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label font-weight-bold" for="currentPassword">Mot de passe actuel</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Mot de passe actuel"
                           formControlName="currentPassword">
                    <div
                        *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('currentPassword').errors.required">
                            Votre mot de passe est requis.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label font-weight-bold" for="newPassword">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nouveau mot de passe"
                           formControlName="newPassword">
                    <div
                        *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('newPassword').errors.required">
                            Le mot de passe est requis.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('newPassword').errors.minlength">
                            Le mot de passe doit avoir une taille d'au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength">
                            Le mot de passe ne doit pas avoir une taille de plus 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar
                        [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Nouveau mot de passe de confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Nouveau mot de passe de confirmation"
                           formControlName="confirmPassword">
                    <div
                        *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('confirmPassword').errors.required">
                            Le mot de passe de confirmation est requis.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                            Le mot de passe de confirmation doit avoir une taille d'au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                            Le mot de passe de confirmation ne doit pas avoir une taille de plus de 50 caractères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary font-weight-bold">Enregistrer</button>
            </form>
        </p-fieldset>
    </div>
</div>
