.accueil-entete {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  border-radius: 20px;
  border: solid;
  background-color: #eaeaea;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  align-content: center;
}

/*.information-css {
  // border: 3px blue dashed;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #000000;
}

.contact-css {
  // border: 3px blue dashed;
  border-left: 2px solid darkgreen;
  border-right: 2px solid darkgreen;
  border-top: 2px solid darkgreen;
  border-bottom: 2px solid darkgreen;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #000000;
}*/

.btn-add {
  background-color: floralwhite !important;
  color: blue !important;
  font-weight: bold;
  margin-right: 15%;
  margin-top: 8px;
  width: 40%;
  height: 70%;
  font-size: 150%;
  border-radius: 5px;
}
.ui-fluid {
  margin-top: 8px;
  display: block;
}
.contour {
  margin-top: 8px;
  background-color: #5ab55d;
  border-radius: 5px;
}
.chanp-texte {
  border-radius: 15px;
  margin-bottom: 7px !important;
}
.btn-detail {
  background-color: floralwhite !important;
  color: green !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-modif {
  background-color: floralwhite !important;
  color: blueviolet !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-delete {
  background-color: floralwhite !important;
  color: red !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-form-save {
  background-color: floralwhite !important;
  color: blueviolet !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-form-cancel {
  background-color: floralwhite !important;
  color: red !important;
  font-weight: bold;
  font-size: 100%;
}
.filter-item {
  margin-top: 10px;
  // border: solid !important;
}
.annee-filter {
  margin-top: 15px !important;
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center !important;
}
.form-control-label {
  font-size: 1.5em !important;
  font-weight: bold;
}
.tooltip-filter {
  // border: solid !important;
  height: 35% !important;
  width: 15%;
  font-size: 2em !important;
  font-weight: bold;
  /* display: inline */
}

.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color 0.3s;
}

.custom .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
