.accueil-entete {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  border-radius: 20px;
  border: solid;
  background-color: #eaeaea;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  align-content: center;
}

.btn-add {
  background-color: floralwhite !important;
  color: blue !important;
  font-weight: bold;
  margin-right: 15%;
  margin-top: 8px;
  width: 30%;
  height: 70%;
  font-size: 150%;
  border-radius: 5px;
}

.ui-fluid {
  margin-top: 8px;
  display: block;
}

.contour {
  margin-top: 8px;
  background-color: #5ab55d;
  border-radius: 5px;
}

.chanp-texte {
  border-radius: 15px;
  margin-bottom: 7px !important;
}

.btn-detail {
  background-color: floralwhite !important;
  color: green !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-modif {
  background-color: floralwhite !important;
  color: blueviolet !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-delete {
  background-color: floralwhite !important;
  color: red !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-form-save {
  background-color: floralwhite !important;
  color: blueviolet !important;
  font-weight: bold;
  font-size: 100%;
}

.btn-form-cancel {
  background-color: floralwhite !important;
  color: red !important;
  font-weight: bold;
  font-size: 100%;
}

.filter-item {
  margin-top: 10px;
  // border: solid !important;
  border-bottom: 3px solid;
  border-bottom-color: #1c6dff;
}

.annee-filter {
  margin-top: 15px !important;
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center !important;
}

.form-control-label {
  font-size: 1.5em !important;
  font-weight: bold;
}

.tooltip-filter {
  // border: solid !important;
  height: 35% !important;
  width: 15%;
  font-size: 2em !important;
  font-weight: bold;
  /* display: inline */
}

.marge {
  margin-top: 25px;
}

.index {
  margin-top: 10px;
  color: red;
}

.select-item {
  border: none !important;
  height: 1em !important;
  float: right !important;
}

th {
  min-width: 150px;
}

/*select-item {
  // display: none !important;
  box-shadow: none !important;
  float: right !important;
  background: none !important;
}
.select-item ng-pristine ng-valid ng-touched {
  float: right !important;
  background: none !important;
}*/

/*.select-item[_ngcontent-nbq-c0] {
  border: none !important;
  height: 1em !important;
  // box-shadow: none !important;
  float: right !important;
}*/
