<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-performance-heading">Create or edit a Performance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                    <div *ngIf="editForm.get('score').invalid && (editForm.get('score').dirty || editForm.get('score').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('score').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('score')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commune">Commune</label>
                    <select class="form-control" id="field_commune" name="commune" formControlName="communeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="communeOption.id" *ngFor="let communeOption of communes; trackBy: trackCommuneById">{{communeOption.libelle}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_indicateur">Indicateur</label>
                    <select class="form-control" id="field_indicateur" name="indicateur" formControlName="indicateurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="indicateurOption.id" *ngFor="let indicateurOption of indicateurs; trackBy: trackIndicateurById">{{indicateurOption.libelle}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exercice">Exercice</label>
                    <select class="form-control" id="field_exercice" name="exercice" formControlName="exerciceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="exerciceOption.id" *ngFor="let exerciceOption of exercices; trackBy: trackExerciceById">{{exerciceOption.annee}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
