<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
    <head>
        <title th:text="#{email.activation.title}">Supermun: création de compte</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Cher
        </p>
        <p th:text="#{email.creation.text1}">
            Votre compte supermun a été créé, cliquer sur le lien ci-dessous:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/admin/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Coordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Supermun.</em>
        </p>
    </body>
</html>
