<div>
    <div class="container mt-2">
        <p-fieldset>
            <p-header>
                <span class="text-primary font-weight-bold">Réinitialiser votre mot de passe</span>
            </p-header>

            <div class="alert alert-danger font-weight-bold text-white" *ngIf="errorEmailNotExists">
                <strong>L'adresse e-mail n'est pas correct !</strong> Vérifier le et réessayer SVP.
            </div>

            <div class="font-weight-bold text-warning alert" style="font-size: medium" *ngIf="!success">
                <p>Renseignez l'adresse e-mail utilisé pour créer votre compte.</p>
            </div>

            <div class="alert alert-success font-weight-bold" *ngIf="success === 'OK'">
                <p>Consulter vos mails pour voir comment réinitialiser votre mot de passe.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()"
                  [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label font-weight-bold" for="email">Adresse e-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email"
                           formControlName="email">
                    <div
                        *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="resetRequestForm.get('email').errors.required">
                            Votre e-mail est requis.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="resetRequestForm.get('email').errors.email">
                            Votre e-mail est invalide.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="resetRequestForm.get('email').errors.minlength">
                            Votre e-mail doit avoir au moins une taille de 5 caractères.
                        </small>
                        <small class="form-text text-danger font-weight-bold"
                               *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Votre e-mail ne doit pas avoir une taille supérieure à 100 charactères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid"
                        class="btn btn-primary font-weight-bold">Réinitialiser
                </button>
            </form>
        </p-fieldset>
    </div>
</div>
